<h1 class="mat-h1">User Profile</h1>

<mat-card class="card-quarter">
  <mat-list role="list">
    <mat-list-item role="listitem">
      <a class="mat-body-2 property-label">Username:</a><a class="mat-body">{{userInfo.username}}</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a class="mat-body-2 property-label">Email:</a><a class="mat-body">{{userInfo.email}}</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a class="mat-body-2 property-label">Phone:</a><a class="mat-body">{{userInfo.phone}}</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a class="mat-body-2 property-label">City:</a><a class="mat-body">{{userInfo.city}}</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a class="mat-body-2 property-label">Website:</a><a [href]="userInfo.website | externalLink" class="mat-body">{{userInfo.website}}</a>
    </mat-list-item>
  </mat-list>
</mat-card>

<h1 class="mat-h1">Posts of {{userInfo.username}}</h1>
<table mat-table [dataSource]="datasource" class="mat-elevation-z8" style="width: 100%;">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element" class="titleCell"> {{element.title}} </td>
    </ng-container>
 
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="postSelected(row)" ></tr>

</table>
<mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="5"></mat-paginator>