<mat-card class="post-info">
  <h1 class="mat-h1">
    <div *ngIf="!editingTitle">
      {{postInfo ? postInfo.title : ''}} <mat-icon class="clickable-icon" (click)="startTitleEditing()">edit</mat-icon>
    </div>
    <div *ngIf="editingTitle">
      <form>
        <mat-form-field class="title-field">
          <mat-label>Title</mat-label>
          <input matInput 
            [formControl]="titleFormControl" 
            maxlength="125" 
            [disabled]="disabledTitle"/>
          <mat-error *ngIf="titleFormControl.hasError('required')">
            A title for the post is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-icon class="clickable-icon" (click)="saveTitleEditing()">done</mat-icon>
        <mat-icon class="clickable-icon" (click)="cancelTitleEditing()">close</mat-icon>
      </form>
    </div>
  </h1>
  <div *ngIf="!editingBody" style="display: flex; flex-direction: column;">
    <div class="mat-body" [innerHTML]="postInfo.body | escapeNewLine"></div>
    <button mat-raised-button color="primary" (click)="startBodyEditing()" style="align-self: flex-end;">
      <mat-icon style="font-size: large;">edit</mat-icon>Edit
    </button>
  </div>
  <div *ngIf="editingBody">
    <form>
      <mat-form-field class="title-field">
        <mat-label>Title</mat-label>
        <textarea  matInput 
          cdkTextareaAutosize 
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="6"
          [formControl]="bodyFormControl" 
          maxlength="2048"
          [disabled]="disabledBody"></textarea>
        <mat-error *ngIf="bodyFormControl.hasError('required')">
          A content for the post is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-icon class="clickable-icon" (click)="saveBodyEditing()">done</mat-icon>
      <mat-icon class="clickable-icon" (click)="cancelBodyEditing()">close</mat-icon>
    </form>
  </div>
</mat-card>

<h1 class="mat-h1">Comments</h1>
<table mat-table [dataSource]="datasource" class="mat-elevation-z8" style="width: 100%;">

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="body">
        <th mat-header-cell *matHeaderCellDef> Body </th>
        <td mat-cell *matCellDef="let element"> {{element.body}} </td>
      </ng-container>
 
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="5"></mat-paginator>