
<h1 class="mat-h1">User List</h1>

<table mat-table [dataSource]="datasource" class="mat-elevation-z8" style="width: 100%;">

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> User </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>
 
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>
 
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="userSelected(row)"></tr>

</table>
<mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="5"></mat-paginator>